* {
    box-sizing: border-box;
    
  }
  
  html{
    background-color: #ff4545;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 1vw;
  }
  
  h1{
    color: white;
    margin: 50px auto;
    width: 50%;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    font-size: 2vw;
    letter-spacing: 10px;
    border-top: 1px solid;
    border-bottom: 1px solid;
  }
  
  .contentBox{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .buttonBox{
    margin: 100px 20px 40px;
    position: relative;
    max-width: 650px;
    min-width: 500px;
    height: 120px;
    flex: 20%;
  }
  
  button{
    width: 100%;
    height: 104px;
    position: relative;
    background: rgba(255, 255, 255, .27);
    text-transform: uppercase;
    color: white;
    font-weight: 300;
    letter-spacing: 2.2em;
    border: none;
    font-size: 35px;
    outline: none;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    cursor: pointer;
  }
  
  


#tenth>button{
    letter-spacing: 0;
  }
  
  #tenth span{
    letter-spacing: 1em;
    display: inline-block;
    position: relative;
    width: 25px;
    transition: all .5s ease-in-out;
  }
  
  #tenth span:nth-of-type(4){
    width: 19px;
  }
  
  #tenth span:nth-of-type(6){
    width: 1px;
  }
  
  #tenth span:nth-of-type(8){
    width: 14px;
  }
  
  #tenth:hover span:nth-of-type(1){
    animation: h .5s;
  }
  
  #tenth:hover span:nth-of-type(2){
    animation: o .5s;
  }
  
  #tenth:hover span:nth-of-type(3){
    animation: v .5s;
  }
  
  #tenth:hover span:nth-of-type(4){
    animation: e .5s;
  }
  
  #tenth:hover span:nth-of-type(5){
    animation: r .5s;
  }
  
  #tenth:hover span:nth-of-type(7){
    animation: t .5s;
  }
  
  #tenth:hover span:nth-of-type(8){
    animation: e .5s;
  }
  
  #tenth:hover span:nth-of-type(9){
    animation: n .5s;
  }
  
  @keyframes h{
    0%{transform:translate(0, 0);}
    50%{transform:translate(50px, 5px);}
    75%{transform:translate(5px, 5px);}
    80%{transform:translate(0, 0);}
    100%{transform:translate(0, 0);}
  }
  
  @keyframes o{
    0%{transform:translate(0, 0);}
    25%{transform:translate(-4px, 0);}
    50%{transform:translate(3px, 4px);}
    80%{transform:translate(0, 0);}
    100%{transform:translate(0, 0);}
  }
  
  @keyframes v{
    0%{transform:translate(0, 0);}
    20%{transform:rotate(360deg);}
    50%{transform:scale(2);}
    80%{transform:translate(0, 0);}
    100%{transform:translate(0, 0);}
  }
  
  @keyframes e{
    0%{transform:translate(0, 0);}
    20%{transform:translate(-10px, -2px);}
    80%{transform:translate(0, 0);}
    100%{transform:translate(0, 0);}
  }
  
  @keyframes r{
    0%{transform:translate(0, 0);}
    20%{transform:translate(0, 10px);}
    80%{transform:translate(0, 32px);}
    100%{transform:translate(0, 0);}
  }
  
  @keyframes t{
    0%{transform:translate(0, 0);}
    20%{transform:translate(0, -10px);}
    40%{transform:translate(0, 0);}
    60%{transform:translate(0, -10px);}
    80%{transform:translate(0, 0);}
    100%{transform:translate(0, 0);}
  }
  
  @keyframes n{
    0%{transform:translate(0, 0);}
    50%{transform:skewY(50deg);}
    80%{transform:translate(0, 0);}
    100%{transform:translate(0, 0);}
  }
  
  
  @media(max-width: 1200px) {
    #content-box {
      width: 100%; 
    }
  }